:host {
  display: inline-block;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.625rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 2px 8px;
  display: inline-block;
  line-height: 1.8;
}
